body {
  margin: 0px;
  padding: 0px;
  background: #303030;
}

.board {
  font-family: 'Source Sans Pro', serif;


  .top-bar {
    margin: 0px;
    padding: 0px;
    background: #5b5b5b;
    border-bottom: solid rgba(0, 0, 0, 0.15) 10px;
    overflow: auto;

    h1 {
      color: white;
      float: left;
      height: 40px;
      margin: 10px 20px;
    }

    .tab {
      color: rgba(255, 255, 255, 0.8);
      float: left;
      height: 40px;
      line-height: 40px;
      padding: 10px 20px;
      font-size: 20px;

      &.active {
        background: rgba(0, 0, 0, 0.15);
        font-size: 24px;
      }
    }
  }
}

.widget {
  margin: 20px;
  float: left;
  width: 200px;
  height: 200px;
  box-sizing: border-box;

  .title {
    width: 100%;
    height: 35px;
    background: rgba(0,0,0,0.1);
    font-size: 20px;
    line-height: 35px;
    text-align: center;
  }

  .contents {
    padding: 15px;
  }
}
